services:
  app:
    build: .
    container_name: openacademix_app
    environment:
      NODE_ENV: production
      DATABASE_URL: 
      NEXTAUTH_URL: http://localhost:3000
      NEXTAUTH_SECRET: your-secret-key-here
      SKIP_MIGRATIONS: "true"
    ports:
      - "3000:3000"
    restart: unless-stopped
